.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__center {
    position: absolute;
    text-align: center;
    width: auto;
    display: grid;
    background: inherit;
    grid-template-rows: 2fr .5fr;
  }
  
  .container__center > h2 {
    font-size: 4.5rem;
    margin: 0;
    margin-block-end: auto;
    margin-block-start: auto;
    margin-bottom: 40px !important;
    color: rgba(0,0,0, 0.7);
    z-index: 2 !important;
  }

  .container__center__input {
      box-shadow: 0 0 20px rgba(0,0,0, 0.2);
      border: none !important;
      outline: none !important;
      background: #fff;
      justify-self: center;
      width: 50vw;
      border-radius: 50px;
      padding: .8rem 2rem;
      font-family: Segoe UI !important;
      color: gray !important;
  }




  