.content-wrapper {
  display: block;
  margin: 0 auto;
  height: 100vh;
  max-width: 100% !important;
  position: absolute;

  .content-main {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;

    h1 {
      margin-bottom: 2.5rem;
    }

    h2 {
      margin-top: 1.25rem;
      margin-bottom: 2.5rem;
    }

    form {
      pointer-events: auto;
      margin-top: 1.875rem;
      margin-bottom: 1.25rem;
      width: 50%;
      margin: 0 auto;

      .input-test {
        position: relative;
        z-index: 0;
      }

      .btn-send {
        position: absolute !important;
        top: 50% !important;
        right: 0 !important;
        transform: translateY(-50%);
        z-index: 2;
        margin-right: 10px !important;
        border-radius: 50px !important;
      }

      .note {
        opacity: 0.4;
        font-size: 0.75rem;
        margin: 0.5rem 0;
      }
    }

  }

  .background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;

    #background-content {
      height: 100%;
      width: 100%;
    }
  }
}

.MuiInput-underline:before,
.MuiInput-underline:after {
  border-bottom: none !important;
}

.font-size-90 {
  font-size: 5.625rem;
}

.opacity-60 {
  opacity: 0.6;
}

input[type='text'] {
  border-radius: 50px;
  transition: 0.3s;
  box-shadow: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 0.125rem solid #fff;
  color: rgba(0, 0, 0, 0.6);
  outline: none !important;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  width: 100%;
  height: inherit;
  font-size: 1.125rem;
}

.fade-in {
  animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}